.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.calculator {
  width: 50%;
}

.output {
  height: 48px;
  padding: 0 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightslategray;
  color: white;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  background-color: lightgray;
  border: solid 1px lightgray;
}

.grid-item {
  border: none;
  height: 48px;
  background-color: white;
}

.span-2-col {
  grid-column: 1 / span 2;
}

.bg-orange {
  background-color: orange;
}

.calculator-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}