@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  padding: 16px;
  display: flex;
  flex-grow: 1;
}

.section-title {
  font-size: 48px;
  color: orange;
}